span{
    color: indianred;
}
#n{
    padding: 20px;
}
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: aquamarine;
}
.finish{
    background-color: red;
}
.container{
    display: flex;
    padding: 0vw 33vw;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.num{
    width: 10vw;
    height: 10vw;
    margin: 0.5vw;
    background-color: aqua;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    font-size: 5vw;
    color: aliceblue;
}
.pressed{
    opacity: 0;
    box-shadow: rgb(255, 0, 0) 10px 10px 10px, rgb(55, 0, 255) 20px 20px 20px 20px, rgb(0, 0, 0) 20px -30px 20px inset;
}
.num1{
    background-color: blue;
}
.num2{
    background-color: pink;
}
.num3{
    background-color: skyblue;
}
.num4{
    background-color: brown;
}
.num5{
    background-color: orange;
}
.num6{
    background-color: green;
}
.num7{
    background-color: yellow;
}
.num8{
    background-color: purple;
}
.num9{
    background-color: red;
}
@media only screen and (max-width: 768px){
    .container{
        display: flex;
        padding: 0vw 5vw;
        flex-direction: column;
    }
    .row{
        display: flex;
        flex-direction: row;
    }
    .num{
        width: 30vw;
        height: 30vw;
        margin: 0.1vw;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
        color: aliceblue;
    }
}